@import 'src/scss/variables';

.multiTriggerRoot {
  --multi-trigger-height: 28px;

  display: grid;
  grid-auto-flow: column;

  width: fit-content;
  min-width: max-content;
  height: var(--multi-trigger-height);

  color: var(--color-blue-jasmine-1200);

  background-color: var(--color-white);

  border-radius: 8px;
  box-shadow: var(--shadow-button-outline);

  @include text-xs(500);
  @include transition-instant(background-color);

  &:has(:focus-visible) {
    box-shadow: var(--shadow-focus-default);
  }

  [data-element^='multi-trigger-item'] {
    display: flex;
    align-items: center;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    [data-element='tooltip-trigger'] {
      height: 100%;
    }

    button,
    button[data-element$='trigger'] {
      all: unset;

      height: 100%;
      padding: 0 6px;

      color: var(--color-blue-jasmine-1200);

      @include text-xs(500);

      &::after,
      &::before {
        display: none;
      }

      &:hover:not(:disabled),
      &:focus:focus-visible:not(:disabled) {
        background-color: var(--color-blue-jasmine-200);
        cursor: pointer;
      }
    }
  }

  [data-element='select-indicator'] {
    display: none;
  }
}

.divider::before {
  background-color: var(--color-blue-jasmine-400);
}
