@import '/src/scss/variables';

.shortcutRoot {
  --size: 20px;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.shortcut {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size);
  height: var(--size);
  padding: 0 3px;

  color: var(--color-grey-700);
  font: inherit;
  text-align: center;

  background-color: var(--color-grey-300);
  border-radius: 4px;

  &.isBlack {
    color: var(--color-white);

    background-color: var(--color-grey-800);
  }

  &.size20 {
    @include text(12px, 18px);
  }

  &.size16 {
    @include text(10px, 16px);
  }

  &.size14 {
    @include text(8px, 12px);
  }
}

.isThen {
  background-color: transparent;

  &.isWhite {
    color: var(--color-white);
  }
}

.isThen.isThen {
  padding: 0;
}
